.progress-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .progress {
    &.MuiCircularProgress-root {
      width: 100px;
      height: 100px;
    }
  }
}
